<div class="help" style="color: {{color}}">
	Use the mouse controls to navigate the scene.<br>
	Hover on the data points to view more information.<br>
	Click the left sidebar to apply filters and configurations.
</div>
